@import "./fontiran.css";
@import "./fontawesome/fontawesome.css";
@import "../plugins/custom/datatables/datatables.bundle.rtl.css";
@import "../plugins/custom/pickr/nano.min.css";
@import "./theme.css";

@tailwind components;
@tailwind utilities;

body,
.editor-container {
    font-family: "IRANSansX", sans-serif;
    -moz-font-feature-settings: "ss02";
    -webkit-font-feature-settings: "ss02";
    font-feature-settings: "ss02";
}

.ck-button__label {
    font-family: "IRANSansX", sans-serif !important;
}

.dashboard-card-chart {
    display: flex;
    flex-direction: column;
}

.dashboard-card-chart .card-body {
    height: 100%;
    flex: 1 1 0%;
    display: flex;
}

.table tr td {
    padding-right: 0 !important;
}

.table.gs-7 th:first-child {
    padding-right: 0;
}

.date_column {
    text-align: left !important;
    padding-left: 0 !important;
}

.table-striped tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.ck-powered-by {
    display: none !important;
}

.ck-editor__editable {
    min-height: 400px;
    max-height: 500px;
    overflow: auto;
}

[data-bs-theme="light"] .card {
    @apply tw-shadow-md tw-shadow-slate-300/20 !important;
}

.card-header,
.card-footer {
    min-height: 48px !important;
}

.card-footer {
    @apply tw-py-2 !important;
}

.image-input-placeholder {
    background-image: url("/images/blank-image.svg") !important;
}

@media (min-width: 1200px) {
    .post-type-row .col-xl-2 {
        width: 20% !important;
    }

    .post-type-row .col-xl-10 {
        width: 80% !important;
    }
}

.select2-selection__choice__display {
    padding-right: 15px;
    padding-left: 0;
    margin-left: 1px !important;
}

.select2-container--bootstrap5
    .select2-dropdown
    .select2-results__option.select2-results__option--selected {
    padding-right: 30px !important;
}

.intermediat-checkbox {
    padding-right: 0;
}

.intermediat-checkbox li {
    margin-bottom: 7px;
    list-style: none;
}

#categoryCreateCollapse .card {
    box-shadow: none !important;
}

.tagify__tag-text {
    word-break: break-all;
}

#wide-container-changer {
    display: none;
}

@media (min-width: 1400px) {
    #wide-container-changer {
        display: block;
    }
}

#products_table.dataTable tbody td {
    vertical-align: middle;
}

.messages-private-box {
    @apply tw-cursor-pointer tw-p-2 tw-mt-3 first:tw-mt-0 tw-transition-all hover:tw-bg-gray-50 tw-rounded-none tw-border-none;
}

.chatbox {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    z-index: 99;
    border-radius: inherit;
    padding-bottom: 16px;
    display: none;
}

@media screen and (max-width: 992px) {
    .chatbox {
        height: 100%;
        position: fixed;
    }
}

.chatbox .header {
    @apply tw-w-full tw-h-14 tw-shadow-sm tw-rounded-t-[inherit] tw-flex tw-items-center tw-justify-between tw-px-5;
    border-bottom: 1px solid #dee2e6;
}

.chatbox :is(.your, .its) {
    @apply tw-mb-2 tw-max-w-[90%] tw-w-max tw-min-w-52 tw-h-auto
    tw-flex tw-flex-col;
}

.chatbox :is(.your, .its) .text-chat {
    @apply tw-bg-gray-100 tw-leading-loose tw-float-right tw-text-[13px] tw-font-semibold
    tw-rounded-xl  tw-p-3 tw-flex tw-flex-col;
}

.chatbox .its .text-chat {
    @apply tw-bg-white tw-border tw-border-gray-100 tw-border-solid tw-float-left;
}

.chatbox .chat-time {
    @apply tw-text-xs tw-text-gray-500 tw-mt-1 tw-text-right;
}

.chatbox .files {
    @apply tw-text-xs tw-text-gray-800 tw-mt-1 tw-text-right tw-flex tw-flex-row tw-items-center tw-justify-start tw-flex-wrap;
}

.chatbox .its .files {
    justify-content: end;
}

.chatbox .files img {
    width: 80px;
    height: 80px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 10px;
}

.chatbox .files a {
    @apply tw-ml-2 tw-mb-2 first:tw-mr-0;
}

.chatbox .main {
    height: calc(100% - 8.5rem);
    overflow-y: auto;
    padding: 20px;
    margin-bottom: 10px;
}

.chatbox .its-box {
    @apply tw-w-full tw-flex tw-flex-row-reverse tw-items-start tw-float-left;
}

.chatbox .its-box .profile {
    @apply tw-bg-gray-200 tw-text-gray-400 tw-text-xl tw-size-10 tw-rounded-full tw-flex tw-items-center tw-justify-center tw-mr-2;
}

.chatbox .send-box {
    @apply tw-w-full tw-h-[calc(5rem-10px)] tw-px-3
     tw-bg-gray-100 tw-border tw-border-solid tw-border-gray-200 tw-flex tw-items-center tw-rounded-xl;
}

.send-box textarea {
    @apply tw-border-none tw-w-full tw-h-auto tw-bg-transparent focus:tw-outline-none tw-resize-none;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.send-box textarea::-webkit-scrollbar {
    display: none;
    margin-left: 100px;
}

#sendMessage {
    display: none;
}

#sendMessage :is(i, svg) {
    rotate: 180deg;
}

.select2-selection__clear {
    right: 8px !important;
}

#menu_lists .accordion {
    margin-bottom: 10px;
}

.nested-list {
    padding: 10px 20px;
    margin: 20px;
    @apply tw-border-slate-300 tw-border-2 tw-border-dotted tw-rounded-lg;
}

.nested-list .nested-list {
    display: none;
}

.image_dotter {
    @apply tw-h-max tw-mx-auto tw-w-full md:tw-w-max;
    position: relative;
}

.image_dotter img {
    height: 100%;
    max-height: 600px;
    position: relative;
    display: block;
    object-fit: contain;
    @apply tw-w-full md:tw-w-auto;
}

.image_dotter span {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    background: rgba(0, 0, 0, 0.25);
    z-index: 2;
    cursor: pointer;
    border-radius: 9999px;
    border: 2px solid rgb(124, 124, 124);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.image_dotter span:hover {
    border-color: white;
}

.image_dotter span::before {
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    background: white;
    border-radius: 9999px;
    transition: all 0.3s ease-in-out;
}

.image_dotter span::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border: 2px solid rgb(124, 124, 124);
    border-radius: 9999px;
    @apply tw-animate-ping tw-opacity-75;
}

.cs-fieldset {
    border-radius: 8px;
    @apply tw-border-gray-100 !important;
}

.cs-fieldset legend {
    font-size: 14px;
    font-weight: 700;
}

.window .window-body .code-input,
.window .window-body .code-output {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    border: none;
    font-family: "PT Mono", monospace;
    font-size: 0.8rem;
    background: transparent;
    white-space: pre-wrap;
    line-height: 1.5em;
    word-wrap: break-word;
}
.window .window-body .code-input {
    opacity: 0.7;
    margin: 0;
    color: #999;
    resize: none;
}
.window .window-body .code-output {
    pointer-events: none;
    z-index: 3;
    margin: 0;
    overflow-y: auto;
}
.window .window-body .code-output code {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 1rem;
    display: block;
    color: #666;
    font-size: 0.8rem;
    font-family: "PT Mono", monospace;
}
a.token {
    text-decoration: none;
}
.token.selector,
.token.punctuation,
.token.keyword {
    color: PaleVioletRed;
}
.token.property,
.token.number,
.token.string,
.token.punctuation,
.token.tag-id {
    color: DodgerBlue;
}
.token.function,
.token.attr-name {
    color: CadetBlue;
}
.token.atrule .atrule-id {
    color: BlueViolet;
}
.token.boolean {
    color: LightSlateGray;
}
.token.comment {
    color: DarkGrey;
}
.language-php .variable {
    color: CadetBlue;
}

.third-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr); /* Two equal rows */
    gap: 10px;
    height: 300px;
    padding: 10px;
}

@media only screen and (min-width: 1200px){
    .third-grid{
        height: 500px;
    }
}

.third-grid div:nth-child(1) {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2; /* Span two rows */
}

.third-grid div:nth-child(2),
.third-grid div:nth-child(3) {
    grid-column: 2 / span 1;
    grid-row: auto; /* Automatically place in next available row */
}

.swapSortable div {
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: grab;
    border-radius: 8px;
}
.highlight {
    animation: borderAnimation 1s infinite;
    @apply tw-border-brand-500 tw-shadow-sm !important;
    box-shadow: 0 0 10px rgba(231, 76, 60, 0.7) !important;
    background: transparent;
}

.indexSortable.active .card {
    padding: 20px;
    border: 2px #ccc dashed;
}

.first-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    height: 200px;
    padding: 10px;
}

.uppy-u-reset.uppy-c-btn.uppy-Dashboard-browse {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
    background: theme("colors.indigo.500");
    color: white;
    transition: all 0.3s;
}

.fm {
    height: 600px !important;
}

input.choose_file_input:disabled {
    background: white;
    cursor: pointer;
}

.remove_choose_file {
    height: 100%;
    background: white;
    outline: none;
    border: none;
    @apply tw-text-red-500;
}

.select2-dropdown.select2-dropdown--below {
    z-index: 999999999;
}

.leader_container {
    display: flex;
    align-items: flex-start;
    width: max-content;
    padding: 20px;
    padding-right: 0;
    column-gap: 100px;
    justify-content: start;
    overflow: auto;
}
.leader_box {
    position: relative;
    width: 200px;
    height: 200px;
    border: 2px solid theme("colors.gray.300");
    padding: 10px;
    background-color: white; /* White background for boxes */
    border-radius: 10px; /* Rounded corners */
    @apply tw-shadow;
}
.leader_top-dots,
.leader_bottom-dots {
    display: flex;
    flex-direction: column;
    position: absolute;
    row-gap: 10px;
}
.leader_top-dots {
    top: 23%;
    left: -5px;
}
.leader_bottom-dots {
    bottom: 20px;
    right: -5px;
}
.leader_dot {
    width: 12px;
    height: 12px;
    background-color: green;
    border-radius: 50%;
    margin: 5px 0;
}
.leader_dot-container {
    display: flex;
    align-items: center;
    justify-content: start; /* Align text to the right */
}
.leader_top-dots .leader_dot-container {
    justify-content: end;
}
.leader_dot-text {
    margin-left: 10px; /* Space between dot and text */
}
.leader_bottom-dots .leader_dot-text {
    margin-right: 10px;
}

.pcr-button {
    border: 1px solid black;
}

.form-item {
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    cursor: grab;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    @apply tw-col-span-1 tw-border-solid tw-border tw-border-slate-300 hover:tw-border-brand-500 tw-bg-white;
}

.form-item i {
    font-size: 18px;
    color: #333;
}

.form-items-container {
    max-height: 90vh;
    overflow-y: auto;
    @apply tw-grid tw-grid-cols-2 tw-gap-3;
}

.form-item-text {
    font-size: 14px;
    color: #333;
}

.grid-stack {
    min-height: 400px;
    direction: rtl;
    @apply tw-border-dashed tw-border-2 tw-border-slate-300;
}

.grid-stack-item-content {
    @apply tw-border-solid tw-border tw-border-slate-400 tw-bg-slate-100 tw-rounded-md;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 20px;
    gap: 10px;
    overflow: hidden !important;
    user-select: none;
}